<h1>Subnets</h1>

<div class="subnets-page">

  <div class="subnets-wrapper">
    <div class="subnet" *ngFor="let subnet of subnets">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ subnet.address }}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ul>
          <li class="ip" *ngFor="let ip of subnet.ips">
            <span (click)="selectIp(ip, subnet)">{{ ip.address }}</span>
          </li>
        </ul>

      </mat-expansion-panel>
    </div>
  </div>

  <div class="ip-info">
    <mat-card>
      <mat-card-title>
        IP Address Info<span *ngIf="currentIp">: {{ currentIp.address }}</span>
      </mat-card-title>

      <div *ngIf="!currentIp">
        Click an IP address to view info.
      </div>

      <div *ngIf="currentIp">
        <div>Subnet: {{ currentSubnet.address }}</div>
        <div>CIDR Notation: {{ currentIp.cidrNotation }}</div>
        <div>Tag: {{ currentIp.tag }}</div>
      </div>
    </mat-card>

  </div>
</div>
