/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.subnets-page{
  display: flex;
  justify-content: space-between;

  .subnets-wrapper{
    width: 60%;

    .ip{
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  .ip-info{
    width: 35%;
  }
}
